[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "supabaseR"]
	path = supabaseR
	url = https://github.com/deepanshkhurana/supabaser
